NET "clkp" LOC = J9     | IOSTANDARD = LVDS_25;
NET "clkn" LOC = H9     | IOSTANDARD = LVDS_25;

NET "led[0]" LOC = AC22 | IOSTANDARD = LVCMOS25;
NET "led[1]" LOC = AC24 | IOSTANDARD = LVCMOS25;
NET "led[2]" LOC = AE22 | IOSTANDARD = LVCMOS25;
NET "led[3]" LOC = AE23 | IOSTANDARD = LVCMOS25;
NET "led[4]" LOC = AB23 | IOSTANDARD = LVCMOS25;
NET "led[5]" LOC = AG23 | IOSTANDARD = LVCMOS25;
NET "led[6]" LOC = AE24 | IOSTANDARD = LVCMOS25;
NET "led[7]" LOC = AD24 | IOSTANDARD = LVCMOS25;

NET "reset" LOC = A19   | IOSTANDARD = LVCMOS25;

NET "sw_ud" LOC = D22   | IOSTANDARD = LVCMOS25;
NET "sw_pr" LOC = L21   | IOSTANDARD = LVCMOS25;
NET "sw_lr" LOC = C18   | IOSTANDARD = LVCMOS25;
NET "sw_sf" LOC = K22   | IOSTANDARD = LVCMOS25;