//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 23 15:15:27 2025
//! **************************************************************************

SCHEMATIC START;
COMP "bin" LOCATE = SITE "AE23" LEVEL 1;
COMP "a" LOCATE = SITE "D22" LEVEL 1;
COMP "b" LOCATE = SITE "C22" LEVEL 1;
COMP "d" LOCATE = SITE "AE22" LEVEL 1;
SCHEMATIC END;

